select {
    appearance: none; 
    border-radius: 4px; 
    padding: 3px 5px;
    font-size: 14.4px; 
    font-weight: 600;
    height: 26px;
    justify-content: center;
    line-height: 21.6px;
    font-family: "Source Sans Pro";
    background-color: none;
}

.plus{
    margin-top: -5px;
}

.mx-top{
    margin-top: 5px;
}

.left{
    margin-left: 5px;
}

.flex{
}
